body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    text-align: right;
    padding: 25px 10px;
    background-color: white;
    margin: 0px 0px 75px 0px;
    border-bottom: 1px solid gray;
    box-shadow: 0px 3px 5px darkgray;
}
#header a {
    padding: 8px 20px;
    margin: 10px;
    background-color: #1588fa;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
}
#Form {
    width: 300px;
    margin: auto;
    padding: 30px 25px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 4px 4px 12px darkgray;
}
#Form h2 {
    margin: 10px;
}
#inputDiv {
    text-align: center;
}
#Form input {
    margin: 13px 0px;
    width: 90%;
    padding: 7px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}
#Form #submit {
    width: 90%;
    margin-bottom: 5px;
    background-color: #1588fa;
    color: white;
}
#images {
    text-align: center;
    margin-top: 30px;
}
#images img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin: 0px 5px;
    border: 1px solid lightgray;
}